<!--Accordion wrapper-->
<div class="accordion md-accordion accordion-4" id="accordionEx2" role="tablist" aria-multiselectable="true">

    <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header z-depth-1 teal lighten-4" role="tab" id="heading10">
        <a data-toggle="collapse" data-parent="#accordionEx2" href="#collapse10" aria-expanded="true"
          aria-controls="collapse10">
          <h4 class="mb-0 black-text text-center font-weight-bold ">
              Am I able to stop in and buy a baked good?
          </h4>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapse10" class="collapse show" role="tabpanel" aria-labelledby="heading10"
        data-parent="#accordionEx2">
        <div class="card-body rgba-teal-strong white-text">
          <p>Unfortunately not, I am not a storefront bakery.
             Everything I make is pre ordered, if you are wanting to place an order but are unsure if its too late,
              give me email @tastybakerypa@gmail.com and I will sure to let you know if I'm all booked up or not! which leads to this next question...</p>
        </div>
      </div>
    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header z-depth-1 teal lighten-3" role="tab" id="heading11">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse11"
          aria-expanded="false" aria-controls="collapse11">
          <h4 class="mb-0 black-text text-center font-weight-bold">
              How far in advance do I need to place my order?
          </h4>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapse11" class="collapse" role="tabpanel" aria-labelledby="heading11"
        data-parent="#accordionEx2">
        <div class="card-body rgba-teal-strong white-text">
          <p>The earlier the better!
             Placing your order at least a week in advance would be ideal. For weddings,
              try to start planning around the 2 month mark, but again the earlier the better
               to secure your spot!</p>
        </div>
      </div>
    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header z-depth-1 teal lighten-2" role="tab" id="heading12">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse12"
          aria-expanded="false" aria-controls="collapse12">
          <h4 class="mb-0 black-text text-center font-weight-bold ">
              Do you deliver, if so how far?
          </h4>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapse12" class="collapse" role="tabpanel" aria-labelledby="heading12"
        data-parent="#accordionEx2">
        <div class="card-body rgba-teal-strong white-text">
          <p>Absolutely!! I understand it can be very stressful delivering a cake,
            so leave it to me to make sure it gets there in one piece! As for distance,
            right now there is no limit, the furthest I have driven a large cake was 3.5 hours away.
            We deliver in the mornings from Monday to Saturday after we have stocked up our shops. Delivery depends on the address and traffic in the city.
           We do not deliver on Sundays.
            The usual fee is $2.35 per mile to the destination..</p>


        </div>
      </div>
    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header z-depth-1 teal lighten-1" role="tab" id="heading13">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse13"
          aria-expanded="true" aria-controls="collapse13">
          <h4 class="mb-0 black-text text-center font-weight-bold">
              Do you offer wedding cake tastings?
          </h4>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapse13" class="collapse" role="tabpanel" aria-labelledby="heading13"
        data-parent="#accordionEx2">
        <div class="card-body rgba-teal-strong white-text">
          <p>I do offer complementary tastings for weddings that will serve 120+ guests.
             The couple/ family will get to taste up to three cake batter flavors and three fillings of your choice.
              Wanting to try more than 3 batters/ fillings will just be an additional cost.
               Bringing pictures, swatches of colors, and other ideas is very helpful to give me
                a good feel for what you want your wedding cake or desserts to look like!</p>


        </div>
      </div>
    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header z-depth-1 teal" role="tab" id="heading14">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse14"
          aria-expanded="false" aria-controls="collapse14">
          <h4 class="mb-0 black-text text-center font-weight-bold ">
              I’ve never ordered with Betty Cake before. Where do I begin?
          </h4>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapse14" class="collapse" role="tabpanel" aria-labelledby="heading14"
        data-parent="#accordionEx2">
        <div class="card-body rgba-teal-strong white-text">
          <p>The best thing for you to do is take some time and browse our website.
            Once you have a general idea of the product that will fit your celebration the best,
             visit our online order form. This form asks all the necessary questions we need answered
              to complete your order request.  Feel free to simply fill out this form online
               (after submitted, it is emailed to us), email us or give us a call 920.893.0617.</p>

        </div>
      </div>
    </div>

     <!-- Accordion card -->
     <div class="card">

        <!-- Card header -->
        <div class="card-header z-depth-1 teal" role="tab" id="heading15">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse15"
            aria-expanded="false" aria-controls="collapse15">
            <h4 class="mb-0 black-text text-center font-weight-bold ">
                When can I pick up my cake?
            </h4>
          </a>
        </div>

        <!-- Card body -->
        <div id="collapse15" class="collapse" role="tabpanel" aria-labelledby="heading15"
          data-parent="#accordionEx2">
          <div class="card-body rgba-teal-strong white-text">
            <p>From Monday to Saturday from 8am-7pm.</p>

          </div>
        </div>
      </div>

    <!-- Accordion card -->
  <!-- Accordion card -->
  <div class="card">

      <!-- Card header -->
      <div class="card-header z-depth-1 teal lighten-1" role="tab" id="heading16">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse16"
          aria-expanded="true" aria-controls="collapse16">
          <h4 class="mb-0 black-text text-center  ">
              What forms of payment do you accept?
          </h4>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapse16" class="collapse" role="tabpanel" aria-labelledby="heading16"
        data-parent="#accordionEx2">
        <div class="card-body rgba-teal-strong white-text">
          <p>We accept MasterCard, Visa, Discover, American Express & Cash. Sorry we do not accept personal checks.</p>


        </div>
      </div>
    </div>
    <!-- Accordion card -->
     <!-- Accordion card -->
     <div class="card">

        <!-- Card header -->
        <div class="card-header z-depth-1 teal lighten-2" role="tab" id="heading17">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse17"
            aria-expanded="false" aria-controls="collapse17">
            <h4 class="mb-0 black-text text-center font-weight-bold ">
                Do you offer any large order or corporate order discounts?
            </h4>
          </a>
        </div>

        <!-- Card body -->
        <div id="collapse17" class="collapse" role="tabpanel" aria-labelledby="heading17"
          data-parent="#accordionEx2">
          <div class="card-body rgba-teal-strong white-text">
            <p>There is a 5% discount on any order over $250.00.</p>
          </div>
        </div>
      </div>
      <!-- Accordion card -->
      <!-- Accordion card -->
    <div class="card">

        <!-- Card header -->
        <div class="card-header z-depth-1 teal lighten-3" role="tab" id="heading18">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse18"
            aria-expanded="false" aria-controls="collapse18">
            <h4 class="mb-0 black-text text-center font-weight-bold">
                Why is the cake I plan to order $32-36 dollars, I don’t understand this range.
            </h4>
          </a>
        </div>

        <!-- Card body -->
        <div id="collapse18" class="collapse" role="tabpanel" aria-labelledby="heading18"
          data-parent="#accordionEx2">
          <div class="card-body rgba-teal-strong white-text">
            <p>The price range allows our decorator to fulfill specific decoration requests.
               Until an order is finished, an exact price can not be given.</p>
          </div>
        </div>
      </div>
      <!-- Accordion card -->
    <!-- Card header -->
    <div class="card-header z-depth-1 teal lighten-4" role="tab" id="heading19">
        <a data-toggle="collapse" data-parent="#accordionEx2" href="#collapse19"
          aria-controls="collapse19">
          <h4 class="mb-0 black-text text-center font-weight-bold">
              I think I know what I want, but I have some questions before I place my order.  What should I do?
          </h4>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapse19" class="collapse" role="tabpanel" aria-labelledby="heading19"
        data-parent="#accordionEx2">
        <div class="card-body rgba-teal-strong white-text">
          <p>Feel free to email us or give us a call 920.893.0617.
            Your questions are important us, and we try our best to answer all calls and emails within 2 business days.
            Please note, the bakery is closed Sunday-Tuesday.</p>
        </div>
      </div>
    </div>
    <!-- Accordion card -->



  <!--/.Accordion wrapper-->

